#banner-home {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/beauty-boutique-57f03.appspot.com/o/assets%2Fbanner1.png?alt=media&token=5f23c751-5152-409c-9677-19cb82da363e");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
}

#line-flower-banner {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/beauty-boutique-57f03.appspot.com/o/assets%2Fline-flower-banner.png?alt=media&token=959aed53-2e45-4953-aa9c-ef5343a9f8c8");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 66.666%;
}
